@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Tailwind CSS configuration should be done in the tailwind.config.js file */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
